<!-- Menu Bar Component -->
<div class="menu-bar">
    <div class="menu-logo">
        <i class="fas fa-cube"></i>
        <span>Omega SuperDesktop</span>
    </div>
    
    <div class="menu-items">
        <div class="menu-item" onclick="openModal('file-modal')">
            <i class="fas fa-file"></i>
            <span>File</span>
        </div>
        <div class="menu-item" onclick="openModal('edit-modal')">
            <i class="fas fa-edit"></i>
            <span>Edit</span>
        </div>
        <div class="menu-item" onclick="openModal('view-modal')">
            <i class="fas fa-eye"></i>
            <span>View</span>
        </div>
        <div class="menu-item" onclick="openModal('tools-modal')">
            <i class="fas fa-wrench"></i>
            <span>Tools</span>
        </div>
        <div class="menu-item" onclick="openModal('help-modal')">
            <i class="fas fa-question-circle"></i>
            <span>Help</span>
        </div>
    </div>
    
    <div class="menu-controls">
        <div class="control-button minimize" title="Minimize">
            <i class="fas fa-minus"></i>
        </div>
        <div class="control-button maximize" title="Maximize">
            <i class="fas fa-square"></i>
        </div>
        <div class="control-button close" title="Close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
